html {
    box-sizing: border-box;
}

#submitButton {
    float: right;
}

























/* All Below is for testing
***************/

#filters {
    display: none;
}

#recipes_view {
    text-align: center;
    /* float: left; */
}

.recipe_name {
    display: inline-block;
}

.recipe_result {

    margin: auto;
    display: inline-block;
}

.recipe_result_img {
    height: 200px;
    border-radius: 8px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}

.preloader {
    height: 130px;
}

/* class to create fade effect */
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
}

.slideUpTab {
    animation-name: tabSlideUp;
    animation-duration: .35s;
    animation-timing-function: ease-in;
}

#diets_tab .row {
    margin-top: 30px;
    padding-left: 15px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes tabSlideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}