html {
    box-sizing: border-box;
}

























/* All Below is for testing
***************/



#recipes_view {
    text-align: center;
    /* float: left; */
}

.recipe_name {
    display: inline-block;
}

.recipe_result {

    margin: auto;
    display: inline-block;
}

.recipe_result_img {
    height: 200px;
    border-radius: 8px;
    margin: auto;
    display: inline-block;
    cursor: pointer;

}

.preloader {
    height: 130px;
}

/* class to create fade effect */
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}